@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

.container{
    width: 1440px;
    margin: 0 auto;
}
.mariella-photo{
    width: 122px;
    height: 63px;
    /*padding: 33px 1205px 24px 64px;*/
    margin: 0 600px  0 50px;
}
header{
    height: 120px;
    display: flex;
    align-items: center;

}
ul{
    height: 30px;
    font-family: 'Cormorant Garamond';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
}

li{
    display: inline;

    margin-right: 40px;
    color: rgba(176, 142, 173, 1);
    list-style-type: none;
    padding-bottom: 40px;
    padding-top: 50px;
}
.content_1{
    height: 458px;
    background: #C9ADC6;
}

.content_2{
    height: 359px;
    background: #D6BBD3;
}

.poduwka{
    position: absolute;
    top: 194px;
    left: 227px;
}

.rectangle{
    position: absolute;
    top: 303px;
    left: 950px;
}

.spring{
    position: absolute;
    left: 990px;
    top: 433px;
}
.new, .buy{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 14px;
    margin-top: 0;

}

.buy{
    margin-top: 22px;
    border: none ;
    background: #B08EAD;
    border-bottom: solid ;
}

.cushion, .collection{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    margin: 0;
}

.container2{
    height: 306px;
    text-align: center;

}

.designer{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
    margin-top: 75px;
}

.California{
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
    color: #5F4D5D;
    margin: 0;
}

.learn_more{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
    border: 1px solid #B99BB6;
    border-radius: 25px;
    height: 45px;
    width: 141px;
    background-color: white;
    margin-top: 17px;
    margin-bottom: 50px;
}

.girl{
    margin-right: 37px;
    margin-bottom: 0;
}

.podu{
    margin-right: 37px;
}

.content_4{
    display: flex;
    position: relative;
}
.first, .second, .third{
    width: 368px;
    height: 113px;
    background: #CEB3CB;
}

.first{
    position: absolute;
    top: 240px;
    left: 127px;
}

.second{
    position: absolute;
    top: 240px;
    left: 536px;
}

.third{
    position: absolute;
    top: 240px;
    left: 945px;
}

.me{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    padding: 23px 0 6px 23px;
}

.more{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 23px;
}

.container3{
    display: flex;
    margin-top: 415px;
    margin-left: 114px;
}

.content_5{
    width: 607px;
    height: 457px;
    padding-left: 41px;
    padding-top: 110px;
}

.begin{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
    padding-bottom: 10px;
    margin: 0;
}

.credibly, .dramatically{
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;

}

